# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/
bookmarks/account/__pycache__/
bookmarks/account/migrations/__pycache__/
bookmarks/bookmarks/__pycache__/
